.T-title{
	margin:10px;
}
span[class^="T-alert"]{
	display:none;
	position:fixed;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
}
.T-page-input{
	display: block;
    width: 53px;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}